@tailwind base;
@tailwind components;
@tailwind utilities;

#sidebar {
    background-image: url('../public/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain
}

@media(max-width: 768px) {
    #sidebar {
        background-image: url('../public/images/bg-sidebar-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}